.layout-menu.layout-menu_error-page
      .layout-menu__wrapper
        .layout-menu__error
            .layout-menu__error-title 404
            p.layout-menu__error-descr 
                | страница не найдена
                span воспользуйтесь ссылками ниже
        .layout-menu__logo
          img(src="img/logo-mini.svg", alt="Карпюк Владимир Борисович")
          button#close-mobile-menu.close-mobile
        .layout-menu__inner
          
          .layout-menu__mobile
            .layout-menu__mobile-wrapper
              ul.mobile-menu
                li.mobile-menu__item
                  a(href="") Информация
                li.mobile-menu__item
                  a(href="") Операции
                li.mobile-menu__item
                  a(href="") Пациентам
                li.mobile-menu__item
                  a(href="") полезное
                li.mobile-menu__item
                  a(href="") контакты

          .layout-menu__section(data-section-menu="1")
            span.layout-menu__section-title Информация
            ul.layout-menu__list
              li.layout-menu__item
                a(href="") О хирурге
              li.layout-menu__item
                a(href="") Новости
              li.layout-menu__item
                a(href="") Отзывы
              li.layout-menu__item
                a(href="") Политика 
              li.layout-menu__item
                a(href="") Конфиденциальности
          .layout-menu__section(data-section-menu="2")
            .layout-menu__section-title 
              span Операции
            ul.layout-menu__list
              li.layout-menu__item
                a(href="") Цены на операции
              li.layout-menu__item
                a(href="") 
                  |Выполняемые
                  br
                  | операции
                ul.inner-submenu
                  li.inner-submenu__item
                    a(href="") пластика груди
                  li.inner-submenu__item
                    a(href="") пластика живота
                  li.inner-submenu__item
                    a(href="") липосакция
                  li.inner-submenu__item
                    a(href="") пластика лица
                  li.inner-submenu__item
                    a(href="") пластика носа
                  li.inner-submenu__item
                    a(href="") пластика губ
                  li.inner-submenu__item
                    a(href="") пластика ушей
          .layout-menu__section(data-section-menu="3")
            .layout-menu__section-title 
              span Пациентам
            ul.layout-menu__list
              li.layout-menu__item
                a(href="") Запись на приём
              li.layout-menu__item
                a(href="") Вопрос ответ
              li.layout-menu__item
                a(href="") Онлайн консультации
              li.layout-menu__item
                a(href="") Фото до и после
          .layout-menu__section(data-section-menu="4")
            .layout-menu__section-title 
              span Полезное
            ul.layout-menu__list
              li.layout-menu__item
                a(href="") Первый визит
              li.layout-menu__item
                a(href="") Налоговые вычеты
              li.layout-menu__item
                a(href="") Права пациента
              li.layout-menu__item
                a(href="") Для иногородних
              li.layout-menu__item
                a(href="") Перед операцией
              li.layout-menu__item
                a(href="") Полезная информация
          .layout-menu__section.layout-menu__section_contacts
            .layout-menu__section-title 
              span Контакты
            .main-contacts
              .main-contacts__doctor
                span.main-contacts__name Владимир Борисович Карпюк
                a(href="tel: +7 918 157 83 46").main-contacts__item.main-contacts__phone +7 918 157 83 46
                a(href="mailto:vkarpyuk@mail.ru").main-contacts__item.main-contacts__mail vkarpyuk@mail.ru
                a(href="instagram.com/karpyuk_plastic_surgeon").main-contacts__item.main-contacts__inst karpyuk_plastic_surgeon

              .main-contacts__loc
                .main-contacts__name Клиника «Шале Сантэ»
                .main-contacts__item.main-contacts__address г. Краснодар,ул. Красных Партизан, д. 238
                a(href="tel: +7 (861) 215 66 10").main-contacts__item.main-contacts__phone  +7 (861) 215 66 10
        .layout-menu__copyright
          .copyright 
            a(href="", target="_blank") 
              |создание сайта 
              span PLATZKART