.main-banner
  .main-banner__content
    h1.main-banner__title
      |Владимир
      br
      |Борисович
      br
      |Карпюк
    .main-banner__text-wrapper
      p.main-banner__text 
        | Пластический хирург, кандидат медицинских наук,
        br
        | врач высшей категории, член Общества пластических,
        br
        | реконструктивных и эстетических хирургов России (ОПРЭХ)
    .main-banner__form-wrapper
      form(action="").main-banner__form
        .main-input.main-input_name
          input(type="text", placeholder="Имя")
        .main-input.main-input_phone
          input(type="tel", placeholder="Телефон")
        button.main-btn записаться на прием
  .main-banner__arrow-wrapper
    button.main-banner__arrow-btn