.surgery-list-details
  p.surgery-list-details__name-section Выполняемые пластические операции
  .surgery-list-details__list
    .block-with-indent
      ._title
        h1.section-title.section-title_small.surgery-list-details__name-operation Пластика лица
      
      ._content 
        .surgery-list-details__subsection-wrapper
          .surgery-list-details__name-subsection Увеличение груди
          .surgery-list-details__subsection-list
            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Круговая подтяжка лица и шеи

            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Круговая подтяжка лица с перемещением поверхностного мышечно-апоневротического слоя (SMAS)

            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Минилифтинг щек и шеи

            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Подтяжка шейно-подбородочной области (медиальная платизмопластика)

        .surgery-list-details__subsection-wrapper
          .surgery-list-details__name-subsection Увеличение груди
          .surgery-list-details__subsection-list
            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Круговая подтяжка лица и шеи

            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Круговая подтяжка лица с перемещением поверхностного мышечно-апоневротического слоя (SMAS)

            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Минилифтинг щек и шеи

            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Подтяжка шейно-подбородочной области (медиальная платизмопластика)

include ./second-page-text.pug