.page-surgery-list
  h1.section-title.section-title_small 
    |Выполняемые 
    br
    |пластические операции

  .page-surgery-list__wrapper
    ul.surgery-list
      li.surgery-list__item
        .surgery-list__top-item 
          h3.surgery-list__title Пластика груди 
          span.surgery-list__sub-title /мамопластика /
          .surgery-list__link
            a(href="").btn-arrow
              .btn-arrow__dots
                i
                i
                i
        .surgery-list__item-content
          .surgery-list__tags-title Пластика груди — увеличение
          .list-tags
            .list-tags__item 
              a(href="") Увеличение груди с одновременной подтяжкой
            .list-tags__item 
              a(href="") Удаление имплантатов груди
            .list-tags__item 
              a(href="") Замена имплантатов подгрудным доступом
            .list-tags__item 
              a(href="") Замена имплантатов груди с подтяжкой
            .list-tags__item 
              a(href="") Увеличение груди с помощью пересадки жира 
          .surgery-list__tags-title Пластика груди — подтяжка
          .list-tags
            .list-tags__item 
              a(href="") Подтяжка груди
            .list-tags__item 
              a(href="") Подтяжка груди с устранением асимметрии
            .list-tags__item 
              a(href="") Коррекция послеоперационных периареолярных рубцов

      li.surgery-list__item
        .surgery-list__top-item 
          h3.surgery-list__title Пластика тела 
          .surgery-list__link
            a(href="").btn-arrow
              .btn-arrow__dots
                  i
                  i
                  i
        .surgery-list__item-content
          .list-tags
            .list-tags__item 
              a(href="") Круговая подтяжка лица и шеи
            .list-tags__item 
              a(href="") Подтяжка кожи в области висков
            .list-tags__item 
              a(href="") Подтяжка щек и шеи
            .list-tags__item 
              a(href="") Круговая подтяжка лица (SMAS)
            .list-tags__item 
              a(href="") Подтяжка щек и шеи (SMAS)
      li.surgery-list__item
        .surgery-list__top-item 
          h3.surgery-list__title Пластика губ 
          .surgery-list__link
            a(href="").btn-arrow
              .btn-arrow__dots
                i
                i
                i
        .surgery-list__item-content
          .list-tags
            .list-tags__item 
              a(href="") Круговая подтяжка лица и шеи
            .list-tags__item 
              a(href="") Подтяжка кожи в области висков
            .list-tags__item 
              a(href="") Подтяжка щек и шеи

include ./second-page-text.pug
