.page-news
  h1.section-title События и акции

  .page-news__wrapper
    .block-with-indent
      ._title 
        |12.11.2018 
      ._content 
        h3._title-content XXI школа реконструктивной хирургии
        p специализация на рабочем месте по специальности хирурга-косметолога в отделении пластико-эстетической хирургии под руководством Свентицкого Е.В. (МУП «Косметологическая лечебница», г. Тверь);
    .block-with-indent
      ._title 
        |30.05.2017 
      ._content 
        h3._title-content XXI школа реконструктивной хирургии
        p курс обучения вибрационной липосакции Lipomatic под руководством Суламанидзе М.А. (клиника «TOTAL CHARM», г. Москва); цикл усовершенствования «Основы пластической, реконструктивной и эстетической хирургии» (МАПО, г. Санкт-Петербург);