.page-price
  h1.section-title.section-title_small 
    |Цены на пластические 
    br
    |операции

  ._wrapper 
    .block-with-indent.page-price__item
      h3._title 
        |Консультации
      ._content 
        .item-price
          .item-price__name
            p 
              a(href="") Консультация хирурга
          .item-price__cost
            span 1000 р
          .item-price__btn
            a(href="").btn-arrow 
              ._dots
                i
                i
                i
        .item-price
          .item-price__name
            p 
              a(href="") Подтяжка щек и шеи с перемещением поверхностного мышечно-апоневротического слоя (SMAS)

          .item-price__cost
            span 211 000 р
          .item-price__btn
            a(href="").btn-arrow 
              ._dots
                i
                i
                i
    .block-with-indent.page-price__item
      h3._title 
        |Консультации
      ._content 
        ul.list-price
          li.item-price
            .item-price__name
              p 
                a(href="") Консультация хирурга
            .item-price__cost
              span 1000 р
            .item-price__btn
              a(href="").btn-arrow 
                ._dots
                  i
                  i
                  i 
          li.item-price
            .item-price__name
              p 
                a(href="") Подтяжка щек и шеи с перемещением поверхностного мышечно-апоневротического слоя (SMAS)

            .item-price__cost
              span 211 000 р
            .item-price__btn
              a(href="").btn-arrow
                ._dots
                  i
                  i
                  i 