.page-surgery
  .page-surgery__top
    .surgery-list-details
      p.surgery-list-details__name-section Выполняемые пластические операции
      .surgery-list-details__list
        .block-with-indent
          ._title
            .section-title.section-title_small.surgery-list-details__name-operation Пластика лица
          
          ._content 
            .surgery-list-details__subsection-wrapper
              .surgery-list-details__name-subsection Увеличение груди
              .surgery-list-details__subsection-list
                a(href="").surgery-list-details__link
                  .btn-arrow
                    ._dots
                      i
                      i
                      i
                  span Круговая подтяжка лица и шеи

  article.page-surgery__article
    .surgery-article
      .surgery-article__title-wrapper
        h1.section-title.surgery-article__title Увеличение груди с&nbsp;одновременной подтяжкой
        a(href="").main-btn.main-btn_with-icon.surgery-article__btn записаться на приём
      .surgery-article__text
        p Увеличивающая маммопластика путем имплантации эндопротезов показана при врожденном недоразвитии молочных желез, выраженной асимметрии груди, приобретенной деформации после ранее перенесенных операций, послеродовой инволюции (обратном развитии, уменьшении) молочных желез. Увеличивающую маммопластику также выполняют при хирургической смене пола у транссексуалов. Многолетний опыт пластической хирургии позволил сформировать ряд требований, предъявляемым к современным протезам молочных желез: химическая нейтральность синтетического материала, постоянство его физических свойств (консистенция, эластичность), не грубая, но достаточно прочная оболочка, через которую не должен проникать наполнитель имплантата, а также отсутствие канцерогенного и аллергизирующего действия на организм. В настоящее время наиболее широко используются эндопротезы, оболочка которых изготовлена из силикона. Самыми распространенными наполнителями являются высококогезионный (нетекучий) силиконовый гель и изотонический раствор натрия хлорида.

  .page-surgery__stage.surgery-stage
    .surgery-stage__descr
      p Как это работает: от первого посещения до пост операционного обслуживания.
    .surgery-stage__list-wrapper
      ul.surgery-stage__list
        li.surgery-stage__item
          img(src="img/stage-img/stage-1.svg", alt="").surgery-stage__img
          .surgery-stage__content
            p.section-title.section-title_small.surgery-stage__title
              span 1. 
              | Консультация
            p.surgery-stage__text В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил 
        li.surgery-stage__item
          img(src="img/stage-img/stage-2.svg", alt="").surgery-stage__img
          .surgery-stage__content
            p.section-title.section-title_small.surgery-stage__title
              span 2. 
              | Консультация
            p.surgery-stage__text В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил 

        li.surgery-stage__item
          img(src="img/stage-img/stage-3.svg", alt="").surgery-stage__img
          .surgery-stage__content
            p.section-title.section-title_small.surgery-stage__title
              span 3. 
              | Консультация
            p.surgery-stage__text В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил 

        li.surgery-stage__item
          img(src="img/stage-img/stage-4.svg", alt="").surgery-stage__img
          .surgery-stage__content
            p.section-title.section-title_small.surgery-stage__title
              span 4. 
              | Консультация
            p.surgery-stage__text В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил 

        li.surgery-stage__item
          img(src="img/stage-img/stage-5.svg", alt="").surgery-stage__img
          .surgery-stage__content
            p.section-title.section-title_small.surgery-stage__title
              span 5. 
              | Консультация
            p.surgery-stage__text В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил 

  .surgery-descr
    .surgery-descr__sidebar
      .surgery-descr__media
        a(data-fancybox="gallery", href="img/img-video.jpg")
          img(src="img/img-video.jpg", alt="")
        p.surgery-descr__media-descr Фото, иллюстрирующее текст, открывается в оверлее большим
      .surgery-descr__media
        a(data-fancybox="gallery", href="img/img-video.jpg")
          img(src="img/img-video.jpg", alt="")
      .surgery-descr__media
        a(data-fancybox="gallery", href="img/img-video.jpg")
          .wrapper-video
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z3OtFAKPDlA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        p.surgery-descr__media-descr Видео, раскрывающее суть статьи
    .surgery-descr__wrapper
      .surgery-descr__content
        h1 Противопоказания и возрастные ограничения
        p.section-descr В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил кандидатскую диссертацию в НИИ нейрохирургии им. Н.Н. Бурденко РАМН (г. Москва). Научная деятельность отражена в ряде публикаций в журналах и сборниках, имеются патенты и авторское свидетельство на изобретения в области нейрохирургии, восстановительной и эстетической хирургии. Постоянное усовершенствование и повышение квалификации, обучение на мастер-классах у ведущих зарубежных специалистов, ежегодное участие в работе международных форумов подтверждают многочисленные свидетельства и сертификаты.
      .surgery-descr__content
        h1 Противопоказания и возрастные ограничения
        p.section-descr В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил кандидатскую диссертацию в НИИ нейрохирургии им. Н.Н. Бурденко РАМН (г. Москва). Научная деятельность отражена в ряде публикаций в журналах и сборниках, имеются патенты и авторское свидетельство на изобретения в области нейрохирургии, восстановительной и эстетической хирургии. Постоянное усовершенствование и повышение квалификации, обучение на мастер-классах у ведущих зарубежных специалистов, ежегодное участие в работе международных форумов подтверждают многочисленные свидетельства и сертификаты.


  .surgery-cost
    .surgery-cost__cost
      .surgery-cost__cost-title Стоимость: 
      .surgery-cost__cost-value 235 000 руб.

    .surgery-cost__included
      .surgery-cost__included-title Что входит в стоимость:
      .surgery-cost__included-descr
       p В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил кандидатскую диссертацию в НИИ нейрохирургии им. Н.Н. Бурденко РАМН (г. Москва). Научная 
    .surgery-cost__additional
      .surgery-cost__additional-title Дополнительные услуги:
      .surgery-cost__additional-descr
        .cost-additional
          .cost-additional__title Услуги стационара
          .cost-additional__content
            ul.cost-additional__list
              li.cost-additional__item Комфортабельная палата, внимательный уход.
              li.cost-additional__item 
                |Стоимость прибывания в сутки с питанием: 
                span 4000
                | руб.

              li.cost-additional__item 
                |Стоимость дневного стационара: 
                span 2000
                | руб.

        .cost-additional
          .cost-additional__title Услуги стационара
          .cost-additional__content
            ul.cost-additional__list
              li.cost-additional__item Комфортабельная палата, внимательный уход.
              li.cost-additional__item 
                |Стоимость прибывания в сутки с питанием: 
                span 4000
                | руб.

              li.cost-additional__item 
                |Стоимость дневного стационара: 
                span 2000
                | руб.

  .page-surgery__qa
    .page-surgery__qa-title
      .section-title Частые вопросы
      a(href="").page-surgery__qa-link 
        span посмотреть частые вопросы
        .btn-arrow
          .btn-arrow__dots
            i
            i
            i

    .page-surgery__qa-descr
      .qa-block
        ul.qa-block__list
          each val in [1, 2, 3, 4]
            li.qa-block__item
              .qa-block__question Сколько стоит операция по увеличению груди?
              .qa-block__answer-wrapper
                .qa-block__answer-content

                  span Ответ:
                  p.qa-block__answer 
                    |Стоимость операции составляет 235 000 р
                    br
                    |Местная анестезия: 500 руб. Эндотрахеальный наркоз
