.surgery-list-details
  ul.breadcrumbs
    li.breadcrumbs__item.surgery-list-details__name-section
      span
        a(href="") Выполняемые пластические операции
    li.breadcrumbs__item.section-title.surgery-list-details__name-operation
      span Пластика груди
  .surgery-list-details__list
    .block-with-indent
      ._content
        .surgery-list-details__subsection-wrapper
          .surgery-list-details__name-subsection Увеличение груди
          .surgery-list-details__subsection-list
            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Круговая подтяжка лица и шеи

            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Круговая подтяжка лица с перемещением поверхностного мышечно-апоневротического слоя (SMAS)

            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Минилифтинг щек и шеи

            a(href="").surgery-list-details__link
              .btn-arrow
                ._dots
                  i
                  i
                  i
              span Подтяжка шейно-подбородочной области (медиальная платизмопластика)


include ./second-page-text.pug
