.page-contacts
  .page-contacts__wrapper
    h1.section-title.section-title__small 
      |Контактная 
      br
      |информация

    .contacts-block
      .contacts-block__map
        .contacts-block__map-bottom
          p Клиника «Шале Сантэ»
          a(href="") смотреть на Яндекс карте
      .contacts-block__contacts
        .main-contacts.main-contacts_dark
          .main-contacts__doctor
            span.main-contacts__name Владимир Борисович Карпюк
            a(href="tel: +7 918 157 83 46").main-contacts__item.main-contacts__phone +7 918 157 83 46
            a(href="mailto:vkarpyuk@mail.ru").main-contacts__item.main-contacts__mail vkarpyuk@mail.ru
            a(href="instagram.com/karpyuk_plastic_surgeon").main-contacts__item.main-contacts__inst karpyuk_plastic_surgeon

          .main-contacts__loc
            .main-contacts__name Клиника «Шале Сантэ»
            .main-contacts__item.main-contacts__address г. Краснодар,ул. Красных Партизан, д. 238
            a(href="tel: +7 (861) 215 66 10").main-contacts__item.main-contacts__phone  +7 (861) 215 66 10
    .page-contacts__bottom
      .page-contacts__descr
        .page-contacts__title 
          p.section-title.section-title_small
            |Есть вопрос?
          a(href="").page-contacts__link 
            span посмотреть частые вопросы
            .btn-arrow
              .btn-arrow__dots
                i
                i
                i
        p.page-contacts__content 
          |Можно записаться на приём у администратора, 
          br
          |Также она ответит на ваши вопросы по телефону:
          br
          span +7 918 157 83 46
