.page-about
  p._quote Plastic surgery is a surgical specialty involving the restoration, reconstruction, or alteration of the human body. It can be divided into two categories. The first is reconstructive surgery which 
  ._info.inf-about-doctor
    .inf-about-doctor__main
      h1.section-title.inf-about-doctor__title
        | Карпюк 
        br
        |Владимир 
        br
        |Борисович
      p.inf-about-doctor__about Кандидат медицинских наук, пластический хирург, врач высшей квалификационной категории, член Российского общества пластических, реконструктивных и эстетических хирургов (ОПРЭХ), Международной конфедерации пластической, реконструктивной и эстетической хирургии (IPRAS), Международного общества пластической регенеративной хирургии (ISPRES).

    p.inf-about-doctor__descr 
      |В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил кандидатскую диссертацию в НИИ нейрохирургии им. Н.Н. Бурденко РАМН (г. Москва). Научная деятельность отражена в ряде публикаций в журналах и сборниках, имеются патенты и авторское свидетельство на изобретения в области нейрохирургии, восстановительной и эстетической хирургии. Постоянное усовершенствование и повышение квалификации, обучение на мастер-классах у ведущих зарубежных специалистов, ежегодное участие в работе международных форумов подтверждают многочисленные свидетельства и сертификаты.
      br
      |Место работы: 
      br
      |Клиника «Шале Сантэ»
    .inf-about-doctor__img
      img(src="img/img-page-about.jpg", alt="Карпюк Владимир Борисович")

  ._chronology
    h2.section-title
     |Хронология
     br
     |Профессиональной 
     br
     |Деятельности
    .page-about__chronology-inner
      .block-with-indent
        ._title 
          |2001 
          span год
        ._content специализация на рабочем месте по специальности хирурга-косметолога в отделении пластико-эстетической хирургии под руководством Свентицкого Е.В. (МУП «Косметологическая лечебница», г. Тверь);
      .block-with-indent
        ._title 
          |2002 
          span год
        ._content курс обучения вибрационной липосакции Lipomatic под руководством Суламанидзе М.А. (клиника «TOTAL CHARM», г. Москва); цикл усовершенствования «Основы пластической, реконструктивной и эстетической хирургии» (МАПО, г. Санкт-Петербург);

      .block-with-indent
        ._title 
          |2005 
          span год
        ._content курс эндоскопической пластической хирургии лица с международным участием (приглашенный профессор Oscar M. Ramirez, США) (ЯГМА, г. Ярославль); интенсивный курс «Хирургическое омоложение лица, ринопластика, отопластика» (РНЦХ им. Б.В. Петровского РАМН, г. Москва);

      .block-with-indent
        ._title 
          |2006 
          span год
        ._content мастер-класс профессора L. Ribeiro (Бразилия) по теме «Увеличение груди, фейслифтинг, уменьшение груди, абдоминопластика, ринопластика» (клиника «Фатум Плюс», центр пластической и эстетической хирургии «F et M», г. Киев);

      .block-with-indent
        ._title 
          |2007 
          span год
        ._content рофессиональная переподготовка по специальности «Хирургия» (КГМУ, г. Краснодар)

      .block-with-indent
        ._title 
          |2008 
          span год
        ._content профессиональная переподготовка по специальности «Челюстно-лицевая хирургия» (КГМУ, г. Краснодар); интенсивный курс «Липофилинг, липошифтинг, S-лифтинг, минилифтинг, субпериостальная подтяжка средней трети лица» (РНЦХ им. Б.В. Петровского РАМН, г. Москва); интенсивный курс «Увеличивающая маммопластика и коррекция молочных желез» (компания «Кловермед», г. Москва); цикл усовершенствования «Пластическая, реконструктивная, эстетическая и косметологическая хирургия и микрохирургия» (Учебный центр ММК, г. Москва);

      .block-with-indent
        ._title 
          |2009 
          span год
        ._content присвоена высшая квалификационная категория по специальности «Хирургия»;

      .block-with-indent
        ._title 
          |2011 
          span год
        ._content профессиональная переподготовка по специальности «Пластическая хирургия» (РУДН, г. Москва).

  ._publications
    h2.section-title
     |Научные
     br
     |Публикации 

    ._publications-inner
      .block-with-indent
        ._title 
          |1998 
          span год
        ._content 
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г.
            | Лабораторные критерии оценки NO-синтазной активности у больных сосудистыми заболеваниями головного мозга. // Клин. лаб.  диагност. – 1998. - № 8. – с. 40.  
      .block-with-indent
        ._title 
          |1999 
          span год
        ._content 
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г., Белозеров Н.Ю. 
            |Изменение уровня нитрита крови у больных в остром периоде субарахноидального кровоизлияния аневризматической этиологии. // Вопр. нейрохир. – 1999. - № 3. – с. 26-29. 

          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Изменение уровня нитрита крови под влиянием превентивного временного клипирования магистральных артерий мозга при хирургическом лечении  артериальных аневризм. // Нейрохирургия. – 1999. - № 3. – с. 37-41.

            
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Нитроксид крови при субарахноидальном кровоизлиянии. // Актуальные проблемы неврологии и нейрохирургии (сб. научных трудов). - Ростов-на-Дону, 1999. - с. 118. 

          p 
            span Карпюк В.Б. 
            |Система эндотелиальной нитроксидергической вазорелаксации при субарахноидальном кровоизлиянии (клинико-патогенетические аспекты постгеморрагического вазоспазма). // Кубанский научный медицинский вестник. – 1999. – № 6 (42). – с. 53-55.

          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г., Коротько Г.Г., Решетова И.В. 
            |Лабораторное подтверждение дисфункции системы нитроксида как неспецифической стресс-реакции в ответ на субарахноидальное кровоизлияние. // Клин. лаб. диагност. – 1999. - № 11. – с. 34.

      .block-with-indent
        ._title 
          |2000 
          span год
        ._content 
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Лабораторный мониторинг состояния нитроксидергической вазорелаксации при субарахноидальном кровоизлиянии. // Клин. лаб.  диагност. – 2000. - № 5. – с. 16-18.


          p 
            span Карпюк В.Б., Шубич М.Г. 
            |Способ прогнозирования развития ишемических осложнений после раннего хирургического лечения разорвавшихся артериальных аневризм головного мозга // Пат. RU 2140651 С1 6 G 01 N 33/84; Заяв. 02.11.98; Опубл. 27.10.99; Бюл. № 30; Приоритет 02.11.98, 98119819 – 4 с.


            
          p 
            span Коршунов Д.Г., Карпюк В.Б., Артеменко С.В. 
            |Способ хирургического лечения сегментарного стеноза экстракраниального отдела внутренней сонной артерии // Пат. RU 2145195 C1 7 A 61 B 17/00; Заяв. 12.03.97; Опубл. 10.02.2000; Бюл. № 4; Приоритет 12.03.1997, 97103775 – 4 с.


          p 
            span Карпюк В.Б. 
            |Система эндотелиальной нитроксидергической вазорелаксации при субарахноидальном кровоизлиянии (клинико-патогенетические аспекты постгеморрагического вазоспазма). // Кубанский научный медицинский вестник. – 1999. – № 6 (42). – с. 53-55.

          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г., Коротько Г.Г., Решетова И.В. 
            |Лабораторное подтверждение дисфункции системы нитроксида как неспецифической стресс-реакции в ответ на субарахноидальное кровоизлияние. // Клин. лаб. диагност. – 1999. - № 11. – с. 34.

      .block-with-indent
        ._title 
          |2001 
          span год
        ._content 
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Лабораторный мониторинг состояния нитроксидергической вазорелаксации при субарахноидальном кровоизлиянии. // Клин. лаб.  диагност. – 2000. - № 5. – с. 16-18.


          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Изменение уровня нитрита крови под влиянием превентивного временного клипирования магистральных артерий мозга при хирургическом лечении  артериальных аневризм. // Нейрохирургия. – 1999. - № 3. – с. 37-41.

            
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Нитроксид крови при субарахноидальном кровоизлиянии. // Актуальные проблемы неврологии и нейрохирургии (сб. научных трудов). - Ростов-на-Дону, 1999. - с. 118. 

          p 
            span Карпюк В.Б. 
            |Система эндотелиальной нитроксидергической вазорелаксации при субарахноидальном кровоизлиянии (клинико-патогенетические аспекты постгеморрагического вазоспазма). // Кубанский научный медицинский вестник. – 1999. – № 6 (42). – с. 53-55.

          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г., Коротько Г.Г., Решетова И.В. 
            |Лабораторное подтверждение дисфункции системы нитроксида как неспецифической стресс-реакции в ответ на субарахноидальное кровоизлияние. // Клин. лаб. диагност. – 1999. - № 11. – с. 34.

      .block-with-indent
        ._title 
          |2001 
          span год
        ._content 
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Лабораторный мониторинг состояния нитроксидергической вазорелаксации при субарахноидальном кровоизлиянии. // Клин. лаб.  диагност. – 2000. - № 5. – с. 16-18.


          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Изменение уровня нитрита крови под влиянием превентивного временного клипирования магистральных артерий мозга при хирургическом лечении  артериальных аневризм. // Нейрохирургия. – 1999. - № 3. – с. 37-41.

            
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Нитроксид крови при субарахноидальном кровоизлиянии. // Актуальные проблемы неврологии и нейрохирургии (сб. научных трудов). - Ростов-на-Дону, 1999. - с. 118. 

          p 
            span Карпюк В.Б. 
            |Система эндотелиальной нитроксидергической вазорелаксации при субарахноидальном кровоизлиянии (клинико-патогенетические аспекты постгеморрагического вазоспазма). // Кубанский научный медицинский вестник. – 1999. – № 6 (42). – с. 53-55.

          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г., Коротько Г.Г., Решетова И.В. 
            |Лабораторное подтверждение дисфункции системы нитроксида как неспецифической стресс-реакции в ответ на субарахноидальное кровоизлияние. // Клин. лаб. диагност. – 1999. - № 11. – с. 34.

          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г., Коротько Г.Г., Решетова И.В. 
            |Лабораторное подтверждение дисфункции системы нитроксида как неспецифической стресс-реакции в ответ на субарахноидальное кровоизлияние. // Клин. лаб. диагност. – 1999. - № 11. – с. 34.
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г., Коротько Г.Г., Решетова И.В. 
            |Лабораторное подтверждение дисфункции системы нитроксида как неспецифической стресс-реакции в ответ на субарахноидальное кровоизлияние. // Клин. лаб. диагност. – 1999. - № 11. – с. 34.
      .block-with-indent
        ._title 
          |2007 
          span год
        ._content 
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Лабораторный мониторинг состояния нитроксидергической вазорелаксации при субарахноидальном кровоизлиянии. // Клин. лаб.  диагност. – 2000. - № 5. – с. 16-18.


          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Изменение уровня нитрита крови под влиянием превентивного временного клипирования магистральных артерий мозга при хирургическом лечении  артериальных аневризм. // Нейрохирургия. – 1999. - № 3. – с. 37-41.

            
          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г. 
            |Нитроксид крови при субарахноидальном кровоизлиянии. // Актуальные проблемы неврологии и нейрохирургии (сб. научных трудов). - Ростов-на-Дону, 1999. - с. 118. 

          p 
            span Карпюк В.Б. 
            |Система эндотелиальной нитроксидергической вазорелаксации при субарахноидальном кровоизлиянии (клинико-патогенетические аспекты постгеморрагического вазоспазма). // Кубанский научный медицинский вестник. – 1999. – № 6 (42). – с. 53-55.

          p 
            span Карпюк В.Б., Черняк Ю.С., Шубич М.Г., Коротько Г.Г., Решетова И.В. 
            |Лабораторное подтверждение дисфункции системы нитроксида как неспецифической стресс-реакции в ответ на субарахноидальное кровоизлияние. // Клин. лаб. диагност. – 1999. - № 11. – с. 34.

  ._diploma
    h2.section-title
     |Дипломы
     br
     |и сертификаты 

    ._diploma-inner
      #second-diploma-slider.diploma-block.diploma-block_multicolumn
        .swiper-container.diploma-block__container
          .swiper-wrapper.diploma-block__wrapper
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
              .swiper-slide.dimploma-block__slide
                .diploma-block__item
                  .diploma-block__img
                    a(data-fancybox="gallery" href="img/Image-diplom.jpg")
                      img(src="img/Image-diplom.jpg", alt="")
                  .diploma-block__content
                    span.dimploma-block__title Сертификат
                    p.diploma-block__text Lorem ipsum dolor sit amet, 
        .swiper-pagination.diploma-block__pagination
  ._review
    .review-block
        .review-block__wrapper
          .review-block__top
            a(href="").review-block__link Отзывы
            a(href="").review-block__link БОЛЬШЕ ОТЗЫВОВ
          .review-block__inner
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
              .review-block__item.review-item
                .review-item__img
                  img(src="img/ico-empty-user.svg", alt="")
                .review-item__content
                  p.review-item__name Мария Шарапова
                  p.review-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam.