article.article-block
  .article-block__left
    h1.section-title.section-title_small 
      |Пластическая 
      br
      |хирургия 
      br
      |в Краснодаре

    .article-block__anchor-block(data-anchor="1")
      p Кандидат медицинских наук, пластический хирург, врач высшей квалификационной категории, член Российского общества пластических, реконструктивных и эстетических хирургов (ОПРЭХ), Международной конфедерации пластической, реконструктивной и эстетической хирургии (IPRAS), Международного общества пластической регенеративной хирургии (ISPRES).
    .article-block__img.article-block__anchor-block(data-anchor="2")
      a(data-fancybox="gallery", href="img/img-video.jpg", )
        img(src="img/img-video.jpg", alt="")

  .article-block__main-text.article-block__main-text-one-column
    p 
      |В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил кандидатскую диссертацию в НИИ нейрохирургии им. Н.Н. Бурденко РАМН (г. Москва). Научная деятельность отражена в ряде публикаций в журналах и сборниках, имеются патенты и авторское свидетельство на изобретения в области нейрохирургии, восстановительной и эстетической хирургии.
      br
      |Постоянное усовершенствование и повышение квалификации, обучение на мастер-классах у ведущих зарубежных специалистов, ежегодное участие в работе международных форумов подтверждают многочисленные свидетельства и сертификаты.
    
    h4 Противопоказания и возрастные ограничения

    p(data-anchor="1") 
      |В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар)Постоянное усовершенствование и повышение квалификации, обучение на мастер-классах у ведущих зарубежных специалистов, ежегодное участие в работе международных форумов подтверждают многочисленные свидетельства и сертификаты.
    p 
      |В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Постоянное усовершенствование и повышение квалификации, обучение на мастер-классах у ведущих зарубежных специалистов, ежегодное участие в работе международных форумов подтверждают многочисленные свидетельства и сертификаты.
    img(src="img/img-video.jpg", alt="").article-block__img
    p(data-anchor="2") 
      |В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар). В 2001 году защитил кандидатскую диссертацию в НИИ нейрохирургии им. Н.Н. Бурденко РАМН (г. Москва). Научная деятельность отражена в ряде публикаций в журналах и сборниках, имеются патенты и авторское свидетельство на изобретения в области нейрохирургии, восстановительной и эстетической хирургии.
      br
      |Постоянное усовершенствование и повышение квалификации, обучение на мастер-классах у ведущих зарубежных специалистов, ежегодное участие в работе международных форумов подтверждают многочисленные свидетельства и сертификаты.

    p
      |В 1993 году с отличием окончил лечебный факультет Кубанского медицинского института им. Красной Армии. Последипломную подготовку продолжил в интернатуре (1993-94 гг.), ординатуре (1995-97 гг.) и аспирантуре (1997-2000 гг.) по нейрохирургии (ФППВ КГМА, г. Краснодар)Постоянное усовершенствование и повышение квалификации, обучение на мастер-классах у ведущих зарубежных специалистов, ежегодное участие в работе международных форумов подтверждают многочисленные 
    .article-block__media
      img(src="img/img-second-page.jpg", alt="")    