.surgery-list-details {
  max-width: 810px;
  margin-bottom: 50px;

  &__name-section {
    max-width: 200px;
    width: 100%;
    margin: 0 0 0px;
    color: var(--textBlue);
  }


  &__list {
    max-width: 640px;
    margin-left: auto;
    padding-left: 35px;

    @media (max-width: 600px) {
      padding-left: 15px;
    }
  }

  &__subsection-wrapper {
    +.surgery-list-details__subsection-wrapper {
      margin-top: 10px;
    }
  }

  &__name-subsection {
    margin-bottom: 20px;
    font-size: rem(14px);
    line-height: 1.3;
    color: #337299;

    @media (max-width: 600px) {
      margin-bottom: 10px;
      font-size: rem(11px);
    }

    +.surgery-list-details__subsection-list {
      margin-top: 0;
    }
  }

  &__subsection-list {
    max-width: 420px;
    margin-top: 40px;
    margin-left: auto;
  }

  .block-with-indent {
    &__title {

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: -20px;
        width: 16px;
        height: 18px;
        background-image: url("../img/ico-arrow-list-blue.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;

        @media (max-width: 600px) {
          left: -10px;
          width: 8px;
          height: 10px;
        }
      }
    }

    &__content {
      max-width: 510px;
      margin-left: 0;
      padding-left: 0;

      @media (max-width: 768px) {
        padding-left: 0;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 50px;
    color: var(--grayText);
    transition: color 0.3s;

    &:hover {
      color: var(--bgBlue);

      .btn-arrow {
        width: 34px;
        border-radius: 20px;
        opacity: 1;

        &:before {
          opacity: 1;
        }

        &__dots {
          i {
            opacity: 1;
            transition: opacity;

            &:nth-of-type(1) {
              transition-delay: 0.1s;
            }

            &:nth-of-type(2) {
              transition-delay: 0.15s;
            }

            &:nth-of-type(3) {
              transition-delay: 0.18s;
            }
          }
        }
      }

      span {
        &:after {
          opacity: 1;
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      left: 50px;
      bottom: -3px;
      max-width: 365px;
      width: calc(100% - 50px);
      height: 1px;
      background-image: url("../img/pattern-border-blue.svg");
      opacity: 0.4;
      transition: opacity 0.3s;
    }

    .btn-arrow {
      position: absolute;
      top: 3px;
      left: 0;
      margin-right: 10px;
    }

    span {
      position: relative;
    }
  }
}